<% @issues.issue_categories.each do |issue_category| %>

  <h2><%= issue_category %></h2>

  <% @issues.each do |issue| %>
    <% if issue.category == issue_category %>
      <h3><a href="/issues/<%=issue.id%>"><%= issue.title %></a></h3>
      <p><%= issue.description %></p>
    <% end %>
  <% end %>

<% end %>